
  
  <% @users.each do |user| %>
  
  <ul class="ind">
    <li><% if user.image.file? %>
        <%= image_tag user.image.url, :class => "centeredmid" %>
    <% else %>
        <%= image_tag("nopic.jpg", :alt => "Shadow Picture", :class => "centeredmid") %>
    <% end %>
    </li>
    <li><%= link_to user.username, user %></li>
    <li><%= user.email %></li>
    <% if current_user && current_user.admin %>
    <li>
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
        <% end %>
    </ul>

  <% end %>

